table td,th    {
    border: 1px solid black;
    padding: 5px 10px;
}
table{
    /* width: 300px; */
    border-collapse: collapse;
}
/* .foo{
    text-align: center;


} */
 /* #ff
 {text-align: center;} */

 .cc{
    text-align: right;
 }